@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://unpkg.com/boxicons@latest/css/boxicons.min.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}
html {
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: -webkit-fill-available;
    color: #5e6282;
    background-color: #0B1D26;
}
body.overflow-hidden {
    overflow: hidden;
}
a, button {
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    background: none;
    box-shadow: none;
    text-decoration: none;
}
img, video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bentham', serif;
}
.container {
    max-width: 1462px;
    height: auto;
    margin: 0 auto;
    padding: 0 24px;
}


